<section id="%song_tag%" class="section hero %bg_style% content">
  <div class="container">
    <div class="song-frame">
      <h2><a href="%song_link%" target="_blank">%title%</a></h2>

      <div class="song-row">
        <div class="song-column">
          <h3><a target="_blank" href="%human_link%">Human</a>&nbsp&nbsp</h3>
        </div>
        <div class="song-column">
          <audio controls preload="none">
            <source src="%audio_human%" type="audio/ogg" />
          </audio>
        </div>
      </div>
      <div class="song-row">
        <div class="song-column">
          <h3>PiCoGen2&nbsp&nbsp</h3>
        </div>
        <div class="song-column">
          <audio controls preload="none">
            <source src="%audio_picogen2%" type="audio/ogg" />
          </audio>
        </div>
      </div>
      <div class="song-row">
        <div class="song-column">
          <h3>PiCoGen1&nbsp&nbsp</h3>
        </div>
        <div class="song-column">
          <audio controls preload="none">
            <source src="%audio_picogen1%" type="audio/ogg" />
          </audio>
        </div>
      </div>
      <div class="song-row">
        <div class="song-column">
          <h3>Pop2Piano&nbsp&nbsp</h3>
        </div>
        <div class="song-column">
          <audio controls preload="none">
            <source src="%audio_pop2piano%" type="audio/ogg" />
          </audio>
        </div>
      </div>
      <div class="song-row">
        <div class="song-column">
          <h3>Audio2Midi&nbsp&nbsp</h3>
        </div>
        <div class="song-column">
          <audio controls preload="none">
            <source src="%audio_audio2midi%" type="audio/ogg" />
          </audio>
        </div>
      </div>
    </div>
  </div>
</section>
